body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    margin: 20px;
}

    form {
        max-width: 300px; /* Largeur maximale du formulaire */
        margin: 0 auto; /* Centrer le formulaire horizontalement */
    }

    label, input {
        display: block; /* Afficher en tant que bloc */
        margin-bottom: 10px; /* Espacement entre chaque label et champ */
    }

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}