table {
    border-collapse: separate;
    border-spacing: 5px; 
    text-align: center;
}
.header-button {
    background-color:  #FFFFFF;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right; /* Aligne le bouton à droite de l'en-tête */
    margin-top: 10px;
    margin-right: 20px;
}

.header-button:hover {
    background-color: #555;
}

/* Styles pour l'en-tête */
header {
    overflow: auto; /* Pour gérer le flottement du bouton */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;

}


table, th, tr {
    border: 1px solid #ccc; 
    padding: 10px; 

}

table {
    border: 2px solid #333; 
    border-radius: 5px; 
    
}
